.*/
.DS_Store
notebooks/.ipynb_checkpoints/
notebooks/packages/gaa/__pycache__/

#exclude file holding sensitive information
private-user-config.yml

#exclude temporary folder used by IBM PAIRS
notebooks/downloads/

#exclude all files in data folder (since this is analysis cache) except specific files
data/*/*
!data/Global/ne_10m*
!data/*/IBMPAIRS_LocalCache.csv
!data/*/country_metadata.json
!data/*/CDLA-Sharing-v1.0.pdf
